<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>
</head>
<body>

<h1>Catálogo de Productos</h1>
<p>Usuario: {{ nombre }}</p>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio (S/)</th>
        <th>Descripción</th>
        <th>Disponible</th>
        <th>Acceso</th>
    </tr>

    {% for p in productos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.descripcion }}</td>
        <td>
            {% if p.vendible %}
                ✅ Sí
            {% else %}
                 Gratis
            {% endif %}
        </td>
        <td>
            <a href="{{ p.link }}" target="_blank">
                Abrir Drive
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/dashboard">Volver</a>

</body>
</html>