<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Usuario</title>
</head>
<body>

<h1>Panel Usuario</h1>
<p>Bienvenido, {{ nombre }}</p>

<ul>
    <li><a href="/perfil">Mi perfil</a></li>
    <li><a href="/registrar_pago">Registrar pago</a></li>
    <li><a href="/subir_comprobante">Subir comprobante</a></li>
    <li><a href="/estado_cuenta">Ver estado de cuenta</a></li>
    <li><a href="/mis_pagos">Ver mis pagos</a></li>

    <!-- 🟢 NUEVO -->
    <li><a href="/catalogo">📂 Ver catálogo</a></li>
</ul>

<br>
<a href="/logout">Cerrar sesión</a>

</body>
</html>