{% extends "base.html" %}

{% block title %}Estado de cuenta{% endblock %}

{% block extra_css %}

<style>

.account-container{
margin-top:30px;
}

.account-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:25px;
}

.account-card{
background:white;
color:black;
padding:25px;
border-radius:16px;
box-shadow:0 15px 35px rgba(0,0,0,0.25);
text-align:center;
}

.account-card h3{
margin-bottom:10px;
font-size:16px;
color:#555;
}

.back-link{
display:inline-block;
margin-top:20px;
padding:10px 22px;
text-decoration:none;
color:white;
font-weight:600;

background:linear-gradient(135deg,var(--emerald),#2ecc71);

border-radius:10px;

box-shadow:0 5px 12px rgba(0,0,0,0.15);

transition:all 0.25s ease;
}

.back-link:hover{
transform:translateY(-3px);
box-shadow:0 10px 22px rgba(0,0,0,0.25);
background:linear-gradient(135deg,#3fdc84,#27ae60);
}

.account-value{
font-size:24px;
font-weight:700;
}

.base{
border-top:5px solid #403F6F;
}

.paid{
border-top:5px solid #00bb2d;
}

.pending{
border-top:5px solid #FFD700;
}

</style>

{% endblock %}

{% block content %}

<div class="account-container">

<h1>Estado de Cuenta</h1>

<p>Usuario: <strong>{{ nombre }}</strong></p>

<div class="account-grid">

<div class="account-card base">

<h3>Monto base</h3>

<div class="account-value">
S/ {{ estado.MontoBase }}
</div>

</div>

<div class="account-card paid">

<h3>Total pagado</h3>

<div class="account-value">
S/ {{ estado.TotalPagado }}
</div>

</div>

<div class="account-card pending">

<h3>Saldo pendiente</h3>

<div class="account-value">
S/ {{ estado.SaldoPendiente }}
</div>

</div>

</div>

<br>

<a class="back-link" href="/dashboard">
⬅ Volver al panel
</a>

</div>

{% endblock %}